/* contents */
body {background: #f5f5f5;}
.scroll {
    position: fixed;
    right: 0px;
    top: 0px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #000;
    background: rgba(253, 220, 220, 0.3);
    border-radius: 50%;
    z-index: 10000;
}
#contents {}
#section1 {
    height: 12500px;
}
#section2 {
    height: 4500px;
    z-index: 4000;
    background: #000;
}
#section3 {
    height: 50000px;
    z-index: 4500;
    background: #f5f5f5;
    color: #000;
}
#section4 {}
#section5 {}

/* header */
#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10000;
}
#header .logo {
    font-family: 'GmarketSans';
    font-size: 2vh;
    line-height: 1.4;
    padding-top: 2px;
    padding-left: 3.2vh;
}
#header .menu {
    font-family: 'GmarketSans';
    font-size: 2.2vh;
    line-height: 1.4;
    font-weight: 300;
    padding-top: 2px;
}
#header .contact {
    font-family: 'GmarketSans';
    font-size: 2vh;
    line-height: 1.4;
    padding-top: 2px;
    padding-right: 3.2vh;
}

@media (max-width: 800px){
    #header .menu {display: none;}
    #header .contact {display: none;}
}


/* sec1 */
.sec1 {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.sec1 .top {
    position: fixed;
    width: 100%;
    height: 50vh;
    top: 5vh;
    left: 0;
    right: 0;
    z-index: 2000;
    font-family: 'GmarketSans';
}
.sec1 .top::before {
    content: '';
    position: fixed;
    left: 0;
    top: 5vh;
    width: 3.2vh;
    height: 50vh;
    background: #f5f5f5;
    z-index: 3000;
}
.sec1 .top::after {
    content: '';
    position: fixed;
    right: 0;
    top: 5vh;
    width: 3.2vh;
    height: 50vh;
    background: #f5f5f5;
    z-index: 3000;
}
.sec1 .top .line1 {
    position: fixed;
    left: 0;
    top: 5vh;
    width: 100%;
    height: 2px;
    background: #000;
}
.sec1 .top .line2 {
    position: fixed;
    left: 0;
    bottom: 45vh;
    width: 100%;
    height: 2px;
    background: #000;
}
.sec1 .top .vline1 {
    position: absolute;
    left: 100vh;
    width: 2px;
    height: 50vh;
    background: #000;
}
.sec1 .top .vline2 {
    position: absolute;
    left: 140vh;
    width: 2px;
    height: 50vh;
    background: #000;
}
.sec1 .top .vline3 {
    position: absolute;
    left: 285vh;
    width: 2px;
    height: 50vh;
    background: #000;
}

.sec1 .top .vline4 {
    position: absolute;
    left: 287vh;
    width: 2px;
    height: 50vh;
    background: #000;
}
.sec1 .top .vline10 {
    position: absolute;
    left: 349vh;
    width: 2px;
    height: 50vh;
    background: #000;
}
.sec1 .top .vline5 {
    position: absolute;
    left: 365vh;
    width: 2px;
    height: 50vh;
    background: #000;
}
.sec1 .top .vline6 {
    position: absolute;
    left: 490vh;
    width: 2px;
    height: 50vh;
    background: #000;
}

.sec1 .top .vline7 {
    position: absolute;
    left: 532vh;
    width: 2px;
    height: 50vh;
    background: #000;
}
.sec1 .top .vline8 {
    position: absolute;
    left: 547vh;
    width: 2px;
    height: 50vh;
    background: #000;
}
.sec1 .top .vline9 {
    position: absolute;
    left: 755vh;
    width: 2px;
    height: 50vh;
    background: #000;
}
.sec1 .top .text1 {
    position: absolute;
    left: 3.2vh;
    top: 39vh;
    font-size: 3vh;
    white-space: nowrap;
}

.sec1 .top .text1 strong {
    display: block;
    font-family: 'GmarketSans';
    font-weight: 300;
    overflow: hidden;
}
.sec1 .top .text1 em {
    display: block;
    font-weight: 700;
    font-family: 'GmarketSans';
    overflow: hidden;
}
.sec1 .top .text1 span {
    display: inline-block;
    min-width: 7px;
}

.sec1 .top .text2 {
    position: absolute;
    left: 266vh;
    top: 37vh;
    font-size:2vh;
    white-space: nowrap;
    transform: rotate(-90deg);
    text-transform: uppercase;
    overflow: hidden;
}

.sec1 .top .text3 {
    position: absolute;
    left: 290vh;
    width: 50vh;
    top: 2vh;
    font-size: 2vh;
    text-transform: uppercase;
}

.sec1 .top .text4 {
    position: absolute;
    left: 340vh;
    top: 34vh;
    font-size: 2vh;
    white-space: nowrap;
    transform: rotate(-90deg);
    text-transform: uppercase;
    overflow: hidden;
}
.sec1 .top .text5 {
    position: absolute;
    left: 368vh;
    width: 60vh;
    top: 2vh;
    font-size: 2vh;
    text-transform: uppercase;
}

.sec1 .top .text6 {
    position: absolute;
    left: 521vh;
    top: 32vh;
    font-size: 2vh;
    white-space: nowrap;
    transform: rotate(-90deg);
    text-transform: uppercase;
    overflow: hidden;
}

.sec1 .top .text7 {
    position: absolute;
    left: 550vh;
    width: 60vh;
    top: 2vh;
    font-size: 2vh;
    text-transform: uppercase;
}
.sec1 .top .text8 {
    position: absolute;
    left: 752vh;
    top: 38vh;
    font-size: 2vh;
    white-space: nowrap;
    transform: rotate(-90deg);
    text-transform: uppercase;
    overflow: hidden;
}

.sec1 .top .text9 {
    position: absolute;
    left: 759vh;
    width: 100vh;
    top: 2vh;
    font-size: 2vh;
    text-transform: uppercase;
}


.sec1 .top .container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sec1 .top .container1 {
    position: absolute;
    left: 222vh;
    width: 50vh;
    height: 50vh;
}
.sec1 .top .container2 {
    position: absolute;
    left: 450vh;
    width: 25vh;
    height: 50vh;
}
.sec1 .top .container3 {
    position: absolute;
    left: 630vh;
    width: 70vh;
    height: 50vh;
}
.sec1 .top .container4 {
    position: absolute;
    left: 880vh;
    width: 110vh;
    height: 50vh;
}

.sec1 .top .container:nth-child(1) {
    background: #3c564f;
}

.sec1 .top .container:nth-child(2) {
    background: #b69187;
}

.sec1 .top .container:nth-child(3) {
    background: #bcb8ad;
}

.sec1 .top .container:nth-child(4) {
    background: #b6916d;
}

.sec1 .top .container1 .reveal {
    visibility: hidden;
    position: relative;
    width: 50vh;
    height: 50vh;
}
.sec1 .top .container2 .reveal {
    visibility: hidden;
    position: relative;
    width: 50vh;
    height: 50vh;
}

.sec1 .top .container3 .reveal {
    visibility: hidden;
    position: relative;
    width: 50vh;
    height: 50vh;
}

.sec1 .top .container4 .reveal {
    visibility: hidden;
    position: relative;
    width: 110vh;
    height: 50vh;
}

.sec1 .bom {
    position: fixed;
    width: 100%;
    height: 50vh;
    top: 50vh;
    left: 0;
    right: 0;
    z-index: 2000;
}
.sec1 .bom .box1 {
    position: fixed;
    left: 3.2vh;
    bottom: 6vh;
    width: 33.3vh; 
    height: 33.3vh;
    background: #000;
}
.sec1 .bom .text1 {
    position: absolute;
    left: 40vh;
    bottom: 6vh;
    line-height: 8vh; 
    padding-top: 4.9vh; 
    font-weight: 700;
    color: #000;
    font-family: 'GmarketSans';
    white-space: nowrap;
}

.sec1 .bom .text1 span{
    position: relative;
    display: inline-block;
    font-size: 40.8vh;
    opacity: 1;
}

.sec1 .bom .text2 {
    position: absolute;
    left: 223vh;
    bottom: 6vh;
    line-height: 8vh;
    padding-top: 4.9vh;
    font-weight: 700;
    color: #000;
    font-family: 'GmarketSans';
    white-space: nowrap;
}
.sec1 .bom .text2 span:first-child{
    display: inline-block;
    width: 33.3vh;
    height: 2vh;
    background: #000;
    margin-right: 10vh;
    margin-bottom: -3.7vh;
}
.sec1 .bom .text2 span {
    position: relative;
    display: inline-block;
    font-size: 40.8vh;
}

.sec1 .bom .text3 {
    position: absolute;
    left: 460vh;
    bottom: 6vh;
    line-height: 8vh;
    padding-top: 4.9vh;
    font-weight: 700;
    color: #000;
    font-family: 'GmarketSans';
    white-space: nowrap;
}
.sec1 .bom .text3 span:first-child {
    display: inline-block;
    width: 33.3vh;
    height: 2vh;
    background: #000;
    margin-right: 10vh;
    margin-bottom: -3.7vh;
}
.sec1 .bom .text3 span {
    position: relative;
    display: inline-block;
    font-size: 40.8vh;
}

.sec1 .bom .text4 {
    position: absolute;
    left: 920vh;
    bottom: 6vh;
    line-height: 8vh;
    padding-top: 4.9vh;
    font-weight: 700;
    color: #000;
    font-family: 'GmarketSans';
    white-space: nowrap;
}

.sec1 .bom .text4 span {
    position: relative;
    display: inline-block;
    font-size: 40.8vh;
}


/* 섹션2 */
.sec2 {
    position: relative;
    width: 100%;
    overflow: hidden;
    right: 0;
    top: 0;
    background: #000;
    z-index: 5000;
}
.sec2 .box2-change {
    position: fixed;
    left: 3.2vh;
    bottom: 5.7vh;
    width: 33.3vh;
    height: 33.3vh;
    background: #f5f5f5;
}
.sec2 .top {
    position: fixed;
    width: 96%;
    height: 50vh;
    top: 5vh;
    left: 0;
    right: 0;
    font-family: 'GmarketSans';
    background: #000;
}

.sec2 .top .line11 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    background: #fff;
}

.sec2 .top .line21 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
}

.sec2 .top .s2-title {
    margin-top: 9vh;
    width: 100%;
    height: 100%;
    font-size: 25vh;
    font-weight: 700;
    color: #fff;
    justify-content: space-between;
    text-align: center;
    white-space: nowrap;
}

.blink {
    -webkit-animation: blink-effect 0.5s linear infinite;
    animation: blink-effect 0.5s linear infinite;
}

.text-motion {
    -webkit-transition: -webkit-transform 0.03s;
    transition: -webkit-transform 0.03s;
    transition: transform 0.03s;
    transition: transform 0.03s, -webkit-transform 0.03s;
}

@-webkit-keyframes blink-effect {
    50% {
        opacity: 0;
    }
}

@keyframes blink-effect {
    50% {
        opacity: 0;
    }
}
.sec2 .bom {
    position: fixed;
    width: 96%;
    height: 50vh;
    top: 50vh;
    left: 0;
    right: 0;
    overflow: hidden;
}

.sec2 .bom .s2-contents-wrap {
    position: relative;
    display: flex;
    gap: 3vh;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    padding: 5vh 0 3vh;
    position: relative;
}
.sec2 .bom .box2 {
    position: relative;
    flex: 0 0 33.3vh;
    margin: 6vh 0;
    height: 33.3vh;
    background: #f5f5f5;
}
.sec2 .bom .s2-contents-wrap .s2-content {
    position: relative;
    flex: 0 0 33.3vh;
    margin: 6vh 0;
    height: 33.3vh;
    border: 1px solid #fff;
    text-align: center;
    color: #fff;
}

.sec2 .bom .s2-contents-wrap .s2-content img {
    margin: 1.7vh;
    width: 30vh;
    height: 30vh;
    transform: scale(0.9);
    object-fit: cover;
}

.sec2 .bom .s2-contents-wrap .s2-content .s2-content-desc {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1vh;
}

.sec2 .bom .s2-contents-wrap .s2-content .s2-content-desc .square {
    flex: 0 0 2vh;
    width: 100%;
    height: 100%;
    margin-right: 2vh;
}

.sec2 .bom .s2-contents-wrap .s2-content .s2-content-desc .square span {
    display: block;
    width: 2vh;
    height: 2vh;
    background: #fff;
}

.sec2 .bom .s2-contents-wrap .s2-content .s2-content-desc .name {
    flex: 0 0 75%;
    text-align: left;
    line-height: 2vh;
    font-size: 2vh;
}

.sec2 .bom .s2-contents-wrap .s2-content .s2-content-desc .num {
    flex: 0 0 4%;
    width: 100%;
    line-height: 2vh;
    font-size: 2vh;
    text-align: center;
}

/* section3 */
.sec3 {
    position: relative;
    width: 100%;
    overflow: hidden;
    right: 0;
    top: 0;
    background: #f5f5f5;
    z-index: 5000;
}

.sec3 .s3-contents-wrap {
    position: fixed;
    width: 96%;
    height: 100vh;
    top: 0;
    left: 0;
    background: #f5f5f5;
}

.s3-contents-wrap .s3-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
}
.s3-contents-wrap .s3-content.s3-2 {
    position: absolute;
    left: 200vh;
    top: 0;
}
.s3-contents-wrap .s3-content.s3-3 {
    position: absolute;
    left: 400vh;
    top: 0;
}
.s3-contents-wrap .s3-content.s3-4 {
    position: absolute;
    left: 600vh;
    top: 0;
}

.s3-contents-wrap .s3-content.s3-5 {
    position: absolute;
    left: 800vh;
    top: 0;
}

.s3-contents-wrap .s3-content.s3-6 {
    position: absolute;
    left: 1000vh;
    top: 0;
}

.s3-contents-wrap .s3-content.s3-7 {
    position: absolute;
    left: 1200vh;
    top: 0;
}

.s3-contents-wrap .s3-content.s3-8 {
    position: absolute;
    left: 1400vh;
    top: 0;
}

.s3-contents-wrap .content-header {
    position: absolute;
    left: 43.5vh;
    top: 0;
    display: flex;
    gap: 1vh;
    margin: 5vh 0 5vh;
    font-size: 1.5vh;
}

.s3-contents-wrap .content-header .content-haeder-title {
    flex: 0 0 33vh;
    text-align: right;
    text-decoration: underline;
    text-underline-position: under;
}

.s3-contents-wrap .content-header .content-haeder-desc {
    flex: 0 0 113vh;
}

.s3-contents-wrap .content-header .content-haeder-desc span {
    display: block;
    width: 50%;
    text-align: justify;
}

.s3-contents-wrap .content-section {
    position: absolute;
    left: 0;
    top: 20vh;
    width: 100%;
    overflow: hidden;
}

.s3-contents-wrap .content-section .content-section-info {
    float: left;
    width: 76vh;
    margin-right: 2vh;
}

.s3-contents-wrap .content-section .content-section-info .top {
    height: 20vh;
}

.s3-contents-wrap .content-section .content-section-info .top>div {
    display: flex;
    gap: 7vh;
    margin-bottom: 1vh;
}

.s3-contents-wrap .content-section .content-section-info .top>div span {
    display: block;
}

.s3-contents-wrap .content-section .content-section-info .top>div span:nth-child(1) {
    flex: 0 0 23vh;
    display: block;
    text-align: right;
    text-decoration: underline;
    text-underline-position: under;
}

.s3-contents-wrap .content-section .content-section-info .top .title {
    border-top: 1px solid #000;
    padding: 1vh 0;
    position: relative;
}

.s3-contents-wrap .content-section .content-section-info .top .title::after {
    content: '';
    position: absolute;
    left: 1%;
    top: 30%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #000;
}

.s3-contents-wrap .content-section .content-section-info .top .title>span {
    text-decoration: none !important;
    text-align: left;
    font-size: 2.5vh;
    font-weight: 500;
}

.s3-contents-wrap .content-section .content-section-info .top .date {}

.s3-contents-wrap .content-section .content-section-info .top .writer {}

.s3-contents-wrap .content-section .content-section-info .top .time {}

.s3-contents-wrap .content-section .content-section-info .bottom {}

.s3-contents-wrap .content-section .content-section-info .bottom>div {
    border-top: 1px solid #000;
    padding: 2vh 0 1vh;
    display: flex;
    gap: 7vh;
    margin-bottom: 1vh;
}

.s3-contents-wrap .content-section .content-section-info .bottom>div:last-child {
    border-bottom: 1px solid #000;
    padding-bottom: 2vh;
}

.s3-contents-wrap .content-section .content-section-info .bottom>div span {
    display: block;
}

.s3-contents-wrap .content-section .content-section-info .bottom>div span:nth-child(1) {
    flex: 0 0 30%;
    display: block;
    text-align: right;
    font-weight: bold;
}

.s3-contents-wrap .content-section .nn {
    float: left;
    width: 110vh;
    height: 70vh;
    overflow: hidden;
    position: relative;
}

.s3-contents-wrap .content-section .nn .content-section-img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: #3c564f;
}
.s3-contents-wrap .content-section .nn .content-section-img.i2 {
    background: #b69187;
}
.s3-contents-wrap .content-section .nn .content-section-img.i3 {
    background: #bcb8ad;
}
.s3-contents-wrap .content-section .nn .content-section-img.i4 {
    background: #b6916d;
}
.s3-contents-wrap .content-section .nn .content-section-img.i5 {
    background: #3c564f;
}
.s3-contents-wrap .content-section .nn .content-section-img.i6 {
    background: #b69187;
}
.s3-contents-wrap .content-section .nn .content-section-img.i7 {
    background: #bcb8ad;
}
.s3-contents-wrap .content-section .nn .content-section-img.i8 {
    background: #b6916d;
}

.s3-contents-wrap .content-section .nn .content-section-img .reveal2{
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.share-links {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(145, 138, 111, .3);
    color: #fff;
    font-size: 1.1em;
}


/* Share Buttons */

.share-links>a {
    display: inline-block;
}


/* Icons */

.share-links>a>i {
    position: relative;
    padding: 8px 10px;
}

.share-links>a::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 1em;
    height: 0px;
    margin: auto;
    background-color: #fff;
}


/* Icons - initial positions */

.share-links>a:first-child {
    transform: translateX(-40px) translateY(-80px);
}

.share-links>a:last-child {
    transform: translateX(40px) translateY(-80px);
}

.share-links>a:nth-child(2) {
    transform: translateX(-80px) translateY(80px);
}

.share-links>a:nth-child(3) {
    transform: translateX(80px) translateY(80px);
}


/* Diamond Shape */

.share-links::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 60%;
    /* Warning: percantages only work well with a square img */
    margin: auto;
    border: 2px solid #fff;
    transform: translateX(-50%) translateY(-50%) rotate(45deg) scale(.4);
}

/* Animations */

.img,
.share-links,
.share-links>a,
.share-links::before {
    transition: all 300ms ease-out;
}

.share-links>a>i,
.share-links>a::after {
    transition: all 200ms ease-out;
}

.item:hover>.share-links {
    visibility: visible;
    opacity: 1;
}

.item:hover>.share-links>a:nth-child(n) {
    transform: translateX(0px) translateY(0px);
}

.item:hover>.share-links::before {
    transform: translateX(-50%) translateY(-50%) rotate(45deg) scale(1);
}

.share-links>a:hover::after {
    height: 18px;
}

.share-links>a:hover>i {
    transform: translateY(-15px);
}

.s3-contents-wrap .content-section .nn .nn-link {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 12vw;
    height: 12vw;
    transform: translate(-50%, -50%) scale(0);
}

.s3-contents-wrap .content-section .nn .nn-link span {
    display: block;
    font-size: 2vw;
    color: #fff;
    padding: 4.5vw 3.5vw;
}

.sec3 .s3-contents-wrap .line11 {
    position: fixed;
    left: 3vh;
    top: 5vh;
    width: 97%;
    height: 2px;
    background: #000;
}
